
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page layout */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.page-wrapper {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

/* Header */
.header {
  margin: 20px 0;
}

.main-logo {
  width: 200px;
}

/* Features Section */
.features {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.feature {
  width: 30%;
}

.feature img {
  width: 60px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 14px;
}

/* Advertisement */
.advertisement {
  margin: 30px 0;
}

.advertisement img {
  width: 100%;
}

/* Cards */
.cards {
  margin: 20px 0;
}

.cards img {
  width: 250px;
}

/* Footer */
.footer {
  margin-top: 30px;
}
